<section class="ui raised segment">

    <h4 class="ui blue center aligned icon header">
        Click on an image below to find Points of Interest
        <i class="hand point down outline icon"></i>

    </h4>

    <div class="ui divider"></div>



    <div class="ui four column grid">
        <div class="column">
            <a href="/resultsBeach">
                <div class="ui fluid image">
                    <div class="ui green ribbon label">
                        Beaches
                    </div>
                    <img src="images/beachDunmoreEast.jpg">

                </div>
            </a>
        </div>
        <div class="column">
            <a href="/resultsHistoric">
                <div class="ui fluid image">
                    <div class="ui green ribbon label">
                        Historic
                    </div>
                    <img src="images/historicRegTower.png">
                </div>
            </a>
        </div>
        <div class="column">
            <a href="/outdoorActivities">
                <div class="ui fluid image">
                    <div class="ui green ribbon label">
                        Outdoor Activities
                    </div>
                    <img src="images/outdoorGreenWay.jpg">
                </div>
            </a>
        </div>
        <div class="column">
            <a href="/foodAndDrink">
                <div class="ui fluid image">
                    <div class="ui green ribbon label">
                        Food & Drink
                    </div>
                    <img src="images/tanneryRestaurant.jpg">
                </div>
            </a>
        </div>
    </div>

</section>