<form action="/uploadimage" method="post" enctype="multipart/form-data">
    <div class="two fields">

        <div class="field">
            <label class="uk-form-label" for="form-horizontal-text">Select Image</label>
            <input type="file" class="uk-input" name="imagefile" accept="image/png, image/jpeg">
        </div>

    </div>

    </br>
    <input type="submit" value="Upload" class="blue uk-button uk-button-default">
</form>